* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #abb99e;
    font-family: "Poppins", sans-serif;
}
.header {
    display: flex;
}
.nav ul {
    display: flex;
}
.main {
    width: 90%;
    min-height: 100vh;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    &__sidebar {
        padding: 2rem;
        grid-column: span 2;
        height: 100%;
        background-color: #536a6b;
    }
    &__right {
        grid-column: span 5;
        height: 100%;
        background-color: #fbf2e6;
    }
}

.profile {
    width: 100%;
    border-bottom: 2px double #abb99e;
    &__picture {
        width: 100%;

        & img {
            width: 100%;
            border-radius: 50%;
            border: 7px double #abb99e;
        }
    }
    &__name,
    &__career {
        font-size: 1.6rem;
        color: #fbf2e6;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__career {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    &__name {
        padding: 1.2rem 0;
    }
}

.contact {
    &__list {
        padding-top: 1rem;
        & li {
            padding: 0.4rem 0;

            & i {
                padding-right: 1rem;
                font-size: 1.2rem;
                color: #deeecf;
            }
            & a {
                display: block;
                color: #a8a3a3;
            }
        }
    }
}
.main-title {
    padding-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fbf2e6;
}
.skill {
    & ul {
        padding-top: 2rem;
    }
    &__item {
        display: -ms-grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.4rem 0;
    }
}
.item {
    &__progress {
        width: 100%;
        height: 0.4rem;
        background-color: #2d3748;
        position: relative;
        border-radius: 12px;
    }
    &__line {
        height: 100%;
        position: absolute;
        left: 0;
        background-color: #abb99e;
        border-radius: 12px;
    }
    &__title {
        text-transform: uppercase;
        color: #f7f7f7;
        font-size: 1rem;
    }
}
.js-progress {
    width: 70%;
}
.html-progress {
    width: 85%;
}
.css-progress {
    width: 85%;
}
.jquery-progress {
    width: 65%;
}
.vuejs-progress {
    width: 55%;
}
.nodejs-progress {
    width: 50%;
}
.gulp-progress {
    width: 45%;
}
.webpack-progress {
    width: 40%;
}
.reference {
    &__subtitle {
        padding-top: 2rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #f7f7f7;
    }
    &__career {
        color: #ccc;
        padding: 0.4rem;
    }
}
